# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
Testing
.idea
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
.gitignore
.gitattributes
noise-filter.cbp
1-10.bin
